.oval-thought-border {
    position: relative;
    padding: 70px 30px;
    margin: 1em auto 80px;
    border: 10px solid #c81e2b;
    text-align: center;
    color: #333;
    background: #fff;
    -webkit-border-top-left-radius: 240px 140px;
    -webkit-border-top-right-radius: 240px 140px;
    -webkit-border-bottom-right-radius: 240px 140px;
    -webkit-border-bottom-left-radius: 240px 140px;
    -moz-border-radius: 240px / 140px;
    border-radius: 240px / 140px;
}
blockquote {
    margin: 1em 0;
}

.oval-thought-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: 100px;
    width: 50px;
    height: 50px;
    border: 10px solid #c81e2b;
    background: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: block;
}

.oval-thought-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -60px;
    right: 50px;
    width: 25px;
    height: 25px;
    border: 10px solid #c81e2b;
    background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
}